name: CI with CD
on:
  push:
    branches:
      - main


permissions:
  contents: write  
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - run: pip install -r requirements.txt
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm install
      - run: mkdocs gh-deploy --force
